    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

    div.text_cell_render h1 { /* Main titles bigger, centered */
        font-size: 2.2em;
        line-height:1.4em;
        text-align:center;
        color: #00090d;
    }
    div.text_cell_render h2 { /*  Parts names nearer from text */
        font-size: 1.8em;
        margin-left: 0.625em;
        color: #003c58;
    }
    div.text_cell_render h3 { /*  Parts names nearer from text */
        font-size: 1.5em;
        margin-left: 0.95em;
        color: #005680;
    }
    div.text_cell_render h4 { /*  Parts names nearer from text */
        font-size: 1.2em;
        margin-left: 1.2em;
        color: #8c0c0c;
    }
    div.text_cell_render h5 { /*  Parts names nearer from text */
        font-size: 1em;
        margin-left: 1.2em;
        color: #d14646;
        font-style: normal;
    }
    div.text_cell_render h6 { /*  Parts names nearer from text */
        font-size: 0.8em;
        margin-left: 1.2em;
        color: #0082a3;
        font-style: normal;
    }
    /* Customize text cells */
    div.text_cell_render {
        font-family: 'Raleway', sans-serif;
        margin-top: -0.3em;
        margin-bottom: -0.3em;
    }

    p,li,span {
        color:#0f0f0f;
    }
    .rendered_html,.text_cell_render,.rendered_html {
        font-style: normal;
        margin-top: -0.3em;
        margin-bottom: -0.3em;
    }
    .key {
        color:#b31919;
        text-decoration: underline;
    }
    .highlight{
        color:#b31919;
        font-weight: bold;
    }
    .note{
        background-color: #d9f3d8;
    }